
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid row  ">

      <div class="navbar-nav h4 justify-content-between flex-row" >

        <p class="d-flex flex-row">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>

        <a *ngIf="logged" class="nav-link text-black " routerLink="crea-citta">Aggiungi citta</a>
      </p>
        <a class="nav-link  text-black text-end " ><i class="bi bi-person" (click)="click()"   ></i> </a>


      </div>
    </div>

</nav>


<!--<nav class="navbar navbar-expand-lg bg-body-tertiary ">
 <div class="container">
  <div class="collapse navbar-collapse row  " id="navbarNavAltMarkup">

      <div class="navbar-nav h3 " >
        <a class="nav-link active col-lg-1 col-md-4"  aria-current="page" routerLink="">Home</a>
        <a class="nav-link  col-lg-2 col-md-4 text-black"  >Posti da vedere</a>
        <a class="nav-link  col-lg-7 col-md-4 text-black" >Spiagge</a>
        <a class="nav-link  col-lg-2 col-md-4 text-black" ><i class="bi bi-person"  routerLink="/auth/login"></i> </a>

        <a href=""><img src="" alt=""></a>
        <button routerLink="profilo">profilo</button>
      </div>
      </div>
    </div>

</nav>-->
